name: "Test flow"

on: ["push"]

jobs:
  test:
    runs-on: "ubuntu-latest"
    strategy:
      matrix:
        version: [ 14, 16 , 18 ]
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: ${{matrix.version}}
      - run: npm install
      - run: npm run lint
      - run: npm run test